{# {% extends 'base.html.twig' %} #}

{% block body %}
<style>
    body, html {
        height: 100%;
        margin: 0;
        font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
        background: #f0f0f0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>

<section class="container my-3">
    <div class="row">
        <div class="col">
            <h1>Réinitialisation de mot de passe</h1>

            {{ form_start(passForm) }}
                {{ form_row(passForm.password) }}
                    <button type="submit">Envoyer</button>
            {{ form_end(passForm) }}

        </div>
    </div>
</section>


{% endblock %}
