{# templates/admin/operation/index.html.twig #}

{% extends '@EasyAdmin/crud/index.html.twig' %}

{% block main %}
    {% for entity in entities %}
        {# ... #}
        {% if is_granted('ROLE_SENIOR') or is_granted('ROLE_APPRENTI') %}
            {# Ici, vous pouvez mettre vos boutons pour accepter ou refuser les opérations #}
            <a href="{{ path('operation_accept', {id: entity.primaryKeyValue}) }}" class="btn btn-success">Accepter</a>
            <a href="{{ path('operation_decline', {id: entity.primaryKeyValue}) }}" class="btn btn-danger">Refuser</a>
        {% endif %}
    {% endfor %}
{% endblock %}
