<h1>Création de votre compte</h1>

<p>Bonjour {{ user.firstname }}</p>

<p>La création de votre compte est maintenant terminé !
    <br>Merci de bien vouloir vous <a href="https://127.0.0.1:8000/login">connecter</a> à votre compte
</p>

